@model WebAssetManager.Models.InvestmentAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Portfolio.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio.UserId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Account Exposure
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exposure)
        </dd>
        <dt>
            Available Cash
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableCash)
        </dd>

        <dt>
            Return Amount
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnAmount)
        </dd>

        <dt>
            Return Percentage
        </dt>
        <dd>
            @String.Format("{0:P2}", Model.ReturnPercent)
        </dd>

        <dt>
            Account Positions
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Stock Name</th>
                    <th>Holding</th>
                    <th>Cost Price</th>
                    <th>Current Price</th>
                    <th>Current Gain</th>
                </tr>
                @foreach (var i in Model.Positions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => i.StockName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => i.HoldingAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => i.CostPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => i.CurrentPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => i.CurrentGain)
                        </td>
                    </tr>
                }
            </table>
        </dd>


        <dt>
            Total Allocated
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAllocated)
        </dd>

        <dt>
            Allocated Percentage
        </dt>
        <dd>
            @String.Format("{0:P2}", Model.AllocatedPercent)
        </dd>


        <dt>
            Strategy Traget Allocation
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Amount</th>
                    <th>Strategy Name</th>
                </tr>
                @foreach (var i in Model.Allocations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => i.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => i.Strategy.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>


        <dt>
            Strategy Holdings
        </dt>
    @foreach (var i in Model.Allocations)
    {
        
        <dd>
            <p>@i.Strategy.Name</p>
            <table class="table">
                <tr>
                    <th>Stock Name</th>
                    <th>Holding</th>
                    <th>Cost Price</th>
                    <th>Current Price</th>
                    <th>Current Gain</th>
                    <th>Weight</th>

                </tr>
                @foreach(var a in i.Strategy.Positions){
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => a.StockName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.HoldingAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.CostPrice)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => a.CurrentPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.CurrentGain)
                        </td>
                        <td>
                            @String.Format("{0:P2}", a.Weight)
                        </td>

                    </tr>
                }
            </table>
        </dd>
    }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
