@model WebAssetManager.Models.Strategy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Strategy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequireLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequireLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalReturn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedAnnualReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedAnnualReturn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RebalancePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RebalancePeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDrawDown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDrawDown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockHolding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockHolding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacktestStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacktestStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacktestEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacktestEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
