@model IEnumerable<WebAssetManager.Models.Position>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Open Positions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Account
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strategy.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            Holding
        </th>
        <th>
            Sellable
        </th>
        <th>
            Cost Price
        </th>
        <th>
            Current Price
        </th>

        <th>
            Current Gain
        </th>
        <th>
            Gain Percentage
        </th>
        <th>
            Total Value
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strategy.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoldingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellableAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CurrentGain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GainPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FundNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PositionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PositionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PositionId })
        </td>
    </tr>
}

</table>
